html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-picking {
    background-color: olive;
    
}

.btn-picking:hover{
    background-color: green !important;
}

.btn-balance{
    background-color:blueviolet
}
.btn-balance:hover {
    background-color: forestgreen
}

.btn-details {}

.btn-sales { background-color:chocolate}
.btn-sales:hover {
        background-color: forestgreen
    }


.btn-delete{}
.btn-createnew {}
.btn-back {}
.btn-search { background-color:orangered}